<ion-content>
  <ion-slides #mainSlider [options]="mainSliderOptions">

    <ion-slide>
      <ion-grid>

        <ion-row>
          <ion-col></ion-col>
        </ion-row>

        <ion-row>
          <ion-col></ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <button block id="facebookLoginBtn" (click)="facebookLogin()">Login with Facebook</button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item>
          <ion-label floating>First Name</ion-label>
          <ion-input type="text" [(ngModel)]="user.firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Last Name</ion-label>
          <ion-input type="text" [(ngModel)]="user.lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-searchbar
            [(ngModel)]="user.university"
            (placeholder)="University"
            (ionInput)="onUniversitySearch($event)"
            (ionCancel)="onCancel($event)">
          </ion-searchbar>
        </ion-item>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

      </ion-list>
    </ion-slide>

  </ion-slides>
</ion-content>
